.mainerror {
    padding: 100px 490px;
}
.mo{
  
    height: 150px;
    margin-left: 50px;
}
h1{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 20px;
    
}
button{
   
    background-color: red;
    margin: 5px 110px;
}
.lo{
    height: 80px;
    margin: 5px 110px
    
}